* {
  box-sizing: border-box;
}
.question {
 
  &-container {
    margin: 0 auto;
    border: 1px solid #bbb;
    border-radius: 16px;
    width: 328px;
    height: 380px;
    padding: 25px 18px 15px 22px;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.43;
    font-stretch: normal;
    font-style: normal;
    color: #222;
    display: flex;
    flex-direction: column;
    
  }

  &-number {
    font-weight: bold;
    margin-bottom: 5px;
  }

  &-title {
    margin-bottom: 23px;
  }

  &-actions {
    position: relative;
    min-height: 20px;
    margin-top: auto;
    // display: flex;
    // justify-content: space-between;
    font-weight: 600;
    .btn-previous {
      position: absolute;
      left: 0;
      top: 0;
    }

    .btn-next {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.option {
  &-container {
    // margin: 20px 0;
  }

  &-item {
    position: relative;
    border: 0.5px solid #a4b9ff;
    border-radius: 7px;
    margin-bottom: 14px;
    height: 33px;
 
    input {
      opacity: 0;
      position: absolute;
      cursor: pointer;
    }

    label {
      display: inline-block;
      width: 100%;
      height: 100%;
      cursor: pointer;
      border-radius: inherit;
      padding: 7px 13px;
      transition: all 0.2s ease;
    }
    
    .check-mark {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.2s ease-in;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #6082f4;
      box-shadow: 0 0 0 4px #fff;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #6082f4;
        transform: translate(-50%, -50%);
        transition: all 0.2s ease;
       
      }
    }

    input[type="radio"]:not(:checked)~.check-mark {
      opacity: 0;
    }

    input[type="radio"]:checked+label {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      background-color: #ebefff;
      top: 0;
      left: 0;
    }

    input[type="radio"]:checked~.check-mark {
      opacity: 1;
    }
  }
}


.survey {
  width: 360px;
  height: 770px;
  padding-top:10px;
  background-color: #a4b9ff;
}